---
- name: Install Varnish.
  yum:
    name: varnish
    state: present
    enablerepo: "epel"

- name: Copy Varnish configuration.
  template:
    src: varnish.params.j2
    dest: /etc/varnish/varnish.params
    owner: root
    group: root
    mode: 0644
